.main-image {
    width: 100%;
    height: auto;
    
  }

  .arrow-button {
    position: absolute;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2xl;
    cursor: pointer;
    
    
    

  }

  .arrow-button:hover img {
    transform: scale(1.3);
    
  }


  .arrow-button.left {
    left: 4px;
  }

  .arrow-button.right {
    right: 4px;
  }

  .video-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 42%; /* 16:9 aspect ratio */
    max-width: 100%;

  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }