.main-image {
    width: 100%;
    height: auto;
    
  }

  .arrow-button {
    position: absolute;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2xl;
    cursor: pointer;
    
    
    

  }

  .arrow-button:hover img {
    transform: scale(1.3);
    
  }


  .arrow-button.left {
    left: 4px;
  }

  .arrow-button.right {
    right: 4px;
  }

  .video-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 42%; /* 16:9 aspect ratio */
    max-width: 100%;

  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
  }

  .text-opacity-transition {
    opacity: 0;
    transform: translateY(10px); /* Начальное смещение вниз */
    transition: opacity 0.8s ease, transform 0.3s ease; /* Плавные переходы для opacity и transform */
  }
  
  .group:hover .text-opacity-transition {
    opacity: 1;
    transform: translateY(0); /* Конечное смещение */
  }
  

  .secondary-icons {
    opacity: 0;
    transform: translateX(20px); /* Начальное смещение вправо */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Плавные переходы для opacity и transform */
  }
  
  .group:hover .secondary-icons {
    opacity: 1;
    transform: translateX(0); /* Конечное смещение */
  }

 